<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Syscom" connectionString="Data Source=192.168.1.18; Initial Catalog = DBSYSCOMSOPORTE; Persist Security Info = True; User Id = syscom; Password = u.owner; multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>
    <add name="dbsLog" connectionString="Data Source=192.168.1.18; Initial Catalog = DBSLOGSOPORTE; Persist Security Info = True; User Id = syscom; Password = u.owner; multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="999999999" executionTimeout="99999999"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="wcfSyscom.Servicio" >
        <endpoint address=""  binding="basicHttpBinding" contract="wcfSyscom.IServicio" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="restfulBehavior" contract="wcfSyscom.IServicio" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <!--<bindings>
      <basicHttpBinding>
        <binding name ="basic" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>-->
    <bindings>
      <basicHttpBinding>
        <binding name="basic" maxBufferSize="999999999" maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="0" maxStringContentLength="999999999" maxArrayLength="0" maxBytesPerRead="0" maxNameTableCharCount="0" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basic"
        contract="wcfSyscom.IServicio" name="basic" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  <security>
    <requestFiltering>
	    <requestLimits maxAllowedContentLength="999999999" />
    </requestFiltering>
  </security>
  </system.webServer>
</configuration>
